.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    background: url(../img/bg.jpg);
    height: 80px;
    border-top: solid 7px #a11c5c;
  }
  
  .nav ul {
    display: flex;
    column-gap: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 30px;
  }
  
  .nav ul li {
    list-style: none;
    text-transform: uppercase;
    margin-left: 20px;
    margin: 0;
  }
  
  .nav ul .li:hover {
    border-bottom: 3px solid #a11c5c;
    transition: border-bottom 0.2s ease;
  }
  
  .nav ul .right {
    margin-left: auto;
    margin-right: 60px;
    display: flex;
    align-items: center;
  }
  
  .nav ul .right li {
    padding: 0;
  }
  
  .nav ul li a {
    text-decoration: none;
    color: #666;
  }